USE [master]
GO
/****** Object:  Database [AppXemPhim]    Script Date: 9/5/2023 3:27:43 AM ******/
CREATE DATABASE [AppXemPhim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppXemPhim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AppXemPhim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppXemPhim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AppXemPhim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppXemPhim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppXemPhim]
GO
/****** Object:  Table [dbo].[calendar]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar](
	[month] [int] NOT NULL,
 CONSTRAINT [PK_calendar] PRIMARY KEY CLUSTERED 
(
	[month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] NOT NULL,
	[Phone] [nchar](13) NOT NULL,
	[Password] [nchar](50) NOT NULL,
	[Email] [nchar](30) NOT NULL,
	[Ho] [nchar](30) NOT NULL,
	[Ten] [nchar](20) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[NgayDangKi] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[DiemThuong] [int] NULL,
	[LoaiThanhVien] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[ID] [int] NOT NULL,
	[ten] [nchar](30) NULL,
	[thoi_luong] [int] NULL,
	[gioi_han_tuoi] [nchar](10) NULL,
	[ngay_cong_chieu] [date] NULL,
	[ngon_ngu] [nchar](30) NULL,
	[dao_dien] [nchar](50) NULL,
	[dien_vien] [nchar](100) NULL,
	[quoc_gia] [nchar](20) NULL,
	[tom_tat] [nchar](300) NULL,
	[trang_thai] [bit] NULL,
	[loai_phim] [int] NULL,
	[nha_cung_cap] [int] NULL,
	[poster_link] [nchar](100) NULL,
	[trailer] [nvarchar](100) NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[ID] [nchar](50) NOT NULL,
	[TrangThai] [bit] NULL,
	[PhongID] [int] NULL,
 CONSTRAINT [PK_Ghe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiThanhVien]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiThanhVien](
	[ID] [int] NOT NULL,
	[Ten] [nchar](50) NULL,
	[DieuKien] [nchar](100) NULL,
	[PhanTramDoiDiem] [float] NULL,
 CONSTRAINT [PK_LoaiThanhVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiVe]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVe](
	[ID] [int] NOT NULL,
	[Ten] [nchar](20) NULL,
	[PhanTramCongThem] [float] NULL,
 CONSTRAINT [PK_LoaiVe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[ID] [int] NOT NULL,
	[Ten] [nchar](30) NULL,
	[Phone] [nchar](13) NULL,
	[Email] [nchar](40) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [int] NOT NULL,
	[TenTK] [nchar](50) NULL,
	[Password] [nchar](50) NULL,
	[Ho] [nchar](30) NULL,
	[Ten] [nchar](20) NULL,
	[SDT] [nchar](13) NULL,
	[NgaySinh] [date] NULL,
	[NgayVaoLam] [date] NULL,
	[GioiTinh] [bit] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[ID] [int] NOT NULL,
	[SoLuongGhe] [nchar](10) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuatChieu]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuatChieu](
	[ID] [int] NOT NULL,
	[GioBatDau] [datetime2](7) NULL,
	[PhongID] [int] NULL,
	[PhimID] [int] NULL,
	[Gia] [float] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_SuatChieu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuKien]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuKien](
	[ID] [int] NOT NULL,
	[Ten] [nchar](50) NULL,
	[NgayApDung] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[PhanTramGiam] [float] NULL,
	[linkposter] [nchar](100) NULL,
 CONSTRAINT [PK_SuKien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[id] [int] NOT NULL,
	[ten_the_loai] [nchar](40) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai_Phim]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai_Phim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PhimID] [int] NOT NULL,
	[LoaiPhimID] [int] NOT NULL,
 CONSTRAINT [PK_TheLoai_Phim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 9/5/2023 3:27:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[ID] [int] NOT NULL,
	[NgayBan] [datetime2](7) NULL,
	[Ghe] [nchar](50) NULL,
	[NVID] [int] NULL,
	[CusId] [int] NULL,
	[name] [nchar](60) NULL,
	[sdt] [nchar](20) NULL,
	[email] [nchar](50) NULL,
	[Gia] [float] NULL,
	[IDGiamGia] [int] NULL,
	[SuatChieuID] [int] NULL,
	[LoaVe] [int] NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[calendar] ([month]) VALUES (1)
INSERT [dbo].[calendar] ([month]) VALUES (2)
INSERT [dbo].[calendar] ([month]) VALUES (3)
GO
INSERT [dbo].[Customer] ([ID], [Phone], [Password], [Email], [Ho], [Ten], [NgaySinh], [NgayDangKi], [GioiTinh], [DiemThuong], [LoaiThanhVien]) VALUES (11, N'0907471645   ', N'lu0c+GqlVMQ=                                      ', N'nhatnguyenn0802@gmail.com     ', N'nguyen le                     ', N'thu van             ', CAST(N'2023-04-12' AS Date), CAST(N'2023-04-26' AS Date), 1, 3, 4)
INSERT [dbo].[Customer] ([ID], [Phone], [Password], [Email], [Ho], [Ten], [NgaySinh], [NgayDangKi], [GioiTinh], [DiemThuong], [LoaiThanhVien]) VALUES (12, N'0908012046   ', N'lu0c+GqlVMQ=                                      ', N'nhat@gmail.com                ', N'nguyen minh                   ', N'nhat                ', CAST(N'2023-04-22' AS Date), CAST(N'2023-04-28' AS Date), 1, 0, 4)
INSERT [dbo].[Customer] ([ID], [Phone], [Password], [Email], [Ho], [Ten], [NgaySinh], [NgayDangKi], [GioiTinh], [DiemThuong], [LoaiThanhVien]) VALUES (13, N'0986553475   ', N'lu0c+GqlVMQ=                                      ', N'nhat@gmail.com                ', N'nguyen minh                   ', N'nhat                ', CAST(N'2023-04-11' AS Date), CAST(N'2023-04-28' AS Date), 1, 0, 4)
GO
INSERT [dbo].[Ghe] ([ID], [TrangThai], [PhongID]) VALUES (N'1A01                                              ', 1, 1)
INSERT [dbo].[Ghe] ([ID], [TrangThai], [PhongID]) VALUES (N'1A02                                              ', 1, 1)
INSERT [dbo].[Ghe] ([ID], [TrangThai], [PhongID]) VALUES (N'1A03                                              ', 1, 1)
GO
INSERT [dbo].[LoaiThanhVien] ([ID], [Ten], [DieuKien], [PhanTramDoiDiem]) VALUES (1, N'Vàng                                              ', NULL, 10)
INSERT [dbo].[LoaiThanhVien] ([ID], [Ten], [DieuKien], [PhanTramDoiDiem]) VALUES (2, N'Bạc                                               ', NULL, 7)
INSERT [dbo].[LoaiThanhVien] ([ID], [Ten], [DieuKien], [PhanTramDoiDiem]) VALUES (3, N'Đồng                                              ', NULL, 5)
GO
INSERT [dbo].[LoaiVe] ([ID], [Ten], [PhanTramCongThem]) VALUES (1, N'Người lớn           ', 10)
INSERT [dbo].[LoaiVe] ([ID], [Ten], [PhanTramCongThem]) VALUES (2, N'Trẻ em              ', 0)
GO
INSERT [dbo].[NhaCungCap] ([ID], [Ten], [Phone], [Email]) VALUES (2, N'Warner Bros                   ', N'456789123    ', N'werner.bros@gmail.com                   ')
INSERT [dbo].[NhaCungCap] ([ID], [Ten], [Phone], [Email]) VALUES (3, N'TSG Entertainment             ', N'111111111    ', N'tsg@gmail.com                           ')
INSERT [dbo].[NhaCungCap] ([ID], [Ten], [Phone], [Email]) VALUES (4, N'321321                        ', N'321321       ', N'3212@123213                             ')
GO
INSERT [dbo].[NhanVien] ([ID], [TenTK], [Password], [Ho], [Ten], [SDT], [NgaySinh], [NgayVaoLam], [GioiTinh]) VALUES (1, N'vang111                                           ', N'dw0RNMm7fVs=                                      ', N'Nguyễn Phú                    ', N'Vang                ', N'0902521475   ', CAST(N'2002-07-30' AS Date), CAST(N'2023-03-23' AS Date), 0)
INSERT [dbo].[NhanVien] ([ID], [TenTK], [Password], [Ho], [Ten], [SDT], [NgaySinh], [NgayVaoLam], [GioiTinh]) VALUES (2, N'abc                                               ', N'lu0c+GqlVMQ=                                      ', N'nguyen minh                   ', N'nhat123             ', N'0902521474   ', CAST(N'2023-04-05' AS Date), CAST(N'2023-04-12' AS Date), 1)
INSERT [dbo].[NhanVien] ([ID], [TenTK], [Password], [Ho], [Ten], [SDT], [NgaySinh], [NgayVaoLam], [GioiTinh]) VALUES (3, N'phuc123                                           ', N'lu0c+GqlVMQ=                                      ', N'choa                          ', N'phuc                ', N'123456789    ', CAST(N'2023-05-26' AS Date), CAST(N'2023-05-04' AS Date), 1)
GO
INSERT [dbo].[Phong] ([ID], [SoLuongGhe]) VALUES (1, N'50        ')
INSERT [dbo].[Phong] ([ID], [SoLuongGhe]) VALUES (2, N'60        ')
INSERT [dbo].[Phong] ([ID], [SoLuongGhe]) VALUES (3, N'70        ')
GO
INSERT [dbo].[SuatChieu] ([ID], [GioBatDau], [PhongID], [PhimID], [Gia], [TrangThai]) VALUES (1, CAST(N'2023-05-05T00:00:00.0000000' AS DateTime2), 1, NULL, 65000, NULL)
INSERT [dbo].[SuatChieu] ([ID], [GioBatDau], [PhongID], [PhimID], [Gia], [TrangThai]) VALUES (2, CAST(N'2023-05-08T15:28:00.0000000' AS DateTime2), 4, 2, 65000, NULL)
INSERT [dbo].[SuatChieu] ([ID], [GioBatDau], [PhongID], [PhimID], [Gia], [TrangThai]) VALUES (3, CAST(N'2023-05-06T22:53:00.0000000' AS DateTime2), 1, 2, 65000, 1)
GO
INSERT [dbo].[SuKien] ([ID], [Ten], [NgayApDung], [NgayKetThuc], [PhanTramGiam], [linkposter]) VALUES (1, N'Giỗ tổ Hùng Vương                                 ', CAST(N'2023-05-07' AS Date), CAST(N'2023-05-09' AS Date), 10, N'https://res.cloudinary.com/dexbjwfjg/image/upload/v1682606024/gioto_pxrbxp.jpg                      ')
INSERT [dbo].[SuKien] ([ID], [Ten], [NgayApDung], [NgayKetThuc], [PhanTramGiam], [linkposter]) VALUES (2, N'Lễ 30/4 -1/5                                      ', CAST(N'2023-04-30' AS Date), CAST(N'2023-05-02' AS Date), 15, N'https://res.cloudinary.com/dexbjwfjg/image/upload/v1682606240/304_v5c7lh.jpg                        ')
INSERT [dbo].[SuKien] ([ID], [Ten], [NgayApDung], [NgayKetThuc], [PhanTramGiam], [linkposter]) VALUES (3, N'Sinh nhật LetHimCook                              ', CAST(N'2023-05-05' AS Date), CAST(N'2023-05-10' AS Date), 20, N'https://res.cloudinary.com/dexbjwfjg/image/upload/v1682606610/OIP_2_wc7mv8.jpg                      ')
GO
INSERT [dbo].[TheLoai] ([id], [ten_the_loai]) VALUES (2, N'Khoa học viễn tưởng                     ')
INSERT [dbo].[TheLoai] ([id], [ten_the_loai]) VALUES (3, N'Tình cảm                                ')
INSERT [dbo].[TheLoai] ([id], [ten_the_loai]) VALUES (4, N'Kinh dị                                 ')
GO
SET IDENTITY_INSERT [dbo].[TheLoai_Phim] ON 

INSERT [dbo].[TheLoai_Phim] ([ID], [PhimID], [LoaiPhimID]) VALUES (5, 2, 5)
INSERT [dbo].[TheLoai_Phim] ([ID], [PhimID], [LoaiPhimID]) VALUES (15, 2, 7)
INSERT [dbo].[TheLoai_Phim] ([ID], [PhimID], [LoaiPhimID]) VALUES (16, 3, 5)
SET IDENTITY_INSERT [dbo].[TheLoai_Phim] OFF
GO
INSERT [dbo].[Ve] ([ID], [NgayBan], [Ghe], [NVID], [CusId], [name], [sdt], [email], [Gia], [IDGiamGia], [SuatChieuID], [LoaVe]) VALUES (1, CAST(N'2023-04-05T00:00:00.0000000' AS DateTime2), N'1A01                                              ', NULL, NULL, N'Nhat                                                        ', N'0986553475          ', N'nhat@gmail.com                                    ', 100000, NULL, 2, 1)
INSERT [dbo].[Ve] ([ID], [NgayBan], [Ghe], [NVID], [CusId], [name], [sdt], [email], [Gia], [IDGiamGia], [SuatChieuID], [LoaVe]) VALUES (2, CAST(N'2023-04-27T23:34:44.1644176' AS DateTime2), N'4C05                                              ', NULL, NULL, N'Nhat                                                        ', N'09865534745         ', N'nhat@gmail.com                                    ', 71500, NULL, 2, 1)
INSERT [dbo].[Ve] ([ID], [NgayBan], [Ghe], [NVID], [CusId], [name], [sdt], [email], [Gia], [IDGiamGia], [SuatChieuID], [LoaVe]) VALUES (3, CAST(N'2023-04-27T23:34:44.1704872' AS DateTime2), N'4A02                                              ', NULL, NULL, N'Nhat                                                        ', N'09865534745         ', N'nhat@gmail.com                                    ', 65000, NULL, 2, 2)
GO
/****** Object:  Index [IX_Customer]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Customer] ON [dbo].[Customer]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Film]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_Film] ON [dbo].[Film]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Ghe]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_Ghe] ON [dbo].[Ghe]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoaiThanhVien]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_LoaiThanhVien] ON [dbo].[LoaiThanhVien]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoaiVe]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_LoaiVe] ON [dbo].[LoaiVe]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhaCungCap]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_NhaCungCap] ON [dbo].[NhaCungCap]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanVien]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_NhanVien] ON [dbo].[NhanVien]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Phong]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_Phong] ON [dbo].[Phong]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SuatChieu]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_SuatChieu] ON [dbo].[SuatChieu]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SuKien]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_SuKien] ON [dbo].[SuKien]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TheLoai]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_TheLoai] ON [dbo].[TheLoai]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ve]    Script Date: 9/5/2023 3:27:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_Ve] ON [dbo].[Ve]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_LoaiThanhVien] FOREIGN KEY([LoaiThanhVien])
REFERENCES [dbo].[LoaiThanhVien] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_LoaiThanhVien]
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD  CONSTRAINT [FK_Film_NhaCungCap] FOREIGN KEY([nha_cung_cap])
REFERENCES [dbo].[NhaCungCap] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Film] CHECK CONSTRAINT [FK_Film_NhaCungCap]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_Phong] FOREIGN KEY([PhongID])
REFERENCES [dbo].[Phong] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_Phong]
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_Film] FOREIGN KEY([PhimID])
REFERENCES [dbo].[Film] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SuatChieu] CHECK CONSTRAINT [FK_SuatChieu_Film]
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_Phong] FOREIGN KEY([PhongID])
REFERENCES [dbo].[Phong] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SuatChieu] CHECK CONSTRAINT [FK_SuatChieu_Phong]
GO
ALTER TABLE [dbo].[TheLoai_Phim]  WITH CHECK ADD  CONSTRAINT [FK_TheLoai_Phim_Film] FOREIGN KEY([PhimID])
REFERENCES [dbo].[Film] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TheLoai_Phim] CHECK CONSTRAINT [FK_TheLoai_Phim_Film]
GO
ALTER TABLE [dbo].[TheLoai_Phim]  WITH CHECK ADD  CONSTRAINT [FK_TheLoai_Phim_TheLoai] FOREIGN KEY([LoaiPhimID])
REFERENCES [dbo].[TheLoai] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TheLoai_Phim] CHECK CONSTRAINT [FK_TheLoai_Phim_TheLoai]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_Customer] FOREIGN KEY([CusId])
REFERENCES [dbo].[Customer] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_Customer]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_Ghe] FOREIGN KEY([Ghe])
REFERENCES [dbo].[Ghe] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_Ghe]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_LoaiVe] FOREIGN KEY([LoaVe])
REFERENCES [dbo].[LoaiVe] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_LoaiVe]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_NhanVien] FOREIGN KEY([NVID])
REFERENCES [dbo].[NhanVien] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_NhanVien]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_SuKien] FOREIGN KEY([IDGiamGia])
REFERENCES [dbo].[SuKien] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_SuKien]
GO
/****** Object:  StoredProcedure [dbo].[DonGiaTrungBinh]    Script Date: 9/5/2023 3:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DonGiaTrungBinh] @tbDonGia int
AS
	
	select ID 
	from Ve
	where Gia > @tbDonGia
GO
/****** Object:  StoredProcedure [dbo].[DonGiaTrungBinh2]    Script Date: 9/5/2023 3:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DonGiaTrungBinh2] @tbDonGia int output
AS
	
	Select @tbDonGia = AVG(Gia) from Ve
GO
/****** Object:  StoredProcedure [dbo].[DonGiaTrungBinh4]    Script Date: 9/5/2023 3:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DonGiaTrungBinh4] 
AS
	declare @tb int;
	exec DonGiaTrungBinh2 @tb output;
	Select ID  from Ve where Gia > @tb
GO
/****** Object:  StoredProcedure [dbo].[DonGiaTrungBinhHangHoa]    Script Date: 9/5/2023 3:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DonGiaTrungBinhHangHoa]
AS
	Select AVG(Gia) from Ve
GO
/****** Object:  StoredProcedure [dbo].[report_year]    Script Date: 9/5/2023 3:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[report_year] @year int
as
begin
SELECT calendar.month,  COALESCE(Sum(Gia), 0) AS total 
FROM calendar left join Ve  on calendar.month = month(NgayBan) and YEAR(NgayBan) = @year
group by calendar.month
end
GO
/****** Object:  StoredProcedure [dbo].[ThongKeTheoNam]    Script Date: 9/5/2023 3:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[ThongKeTheoNam]
@Year int 
as
begin
select YEAR(NgayBan) as year,MONTH(NgayBan) as month, Sum(Gia) as tong 
from dbo.Ve
where YEAR(NgayBan) = @Year
group by YEAR(NgayBan),MONTH(NgayBan)
order by year
end
GO
/****** Object:  StoredProcedure [dbo].[ThongKeTheoNamAndMonth]    Script Date: 9/5/2023 3:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[ThongKeTheoNamAndMonth]
@Year int ,
@month int
as
begin
select YEAR(NgayBan) as year,MONTH(NgayBan) as month, Sum(Gia) as tong 
from dbo.Ve
where YEAR(NgayBan) = @Year and MONTH(NgayBan) = @month
group by YEAR(NgayBan),MONTH(NgayBan)
order by year
end
GO
USE [master]
GO
