@model IEnumerable<WebRapPhim.Models.Ghe>

@{
    ViewBag.Title = "Ghe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .btl-left {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 85%;
    }

        .btl-left a {
            display: inline-block;
            padding: 8px 15px;
            background-color: #292424;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        .btl-left > a:hover {
            color: black;
            background-color: white;
        }
</style>
<div class="btl-left">
    <a href="/Admin/Home/CreateGhe">
        + Tạo mới
    </a>
</div>
<h2 style="text-align:center;">Ghế</h2>
<table class="table">
    <tr>
        <th>
            <p>Ghế </p>
        </th>
        <th>
            <p>Trạng Thái </p>
        </th>
        <th>
            <p>Phòng</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhongID)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteGhe", new { id = item.ID }, new { @class = "btn btn-danger", style = "font-size: 15px; font-weight: bold; padding: 5px 7px; border-radius: 5px; color: #fff; border: none; " })
            </td>
        </tr>
    }

</table>
